<h3 class="comment-line"><i class="fa fa-comment"><%= comments.count %>件コメント</i></h3>
<div class="row">
  <table class="table">
    <% comments.first(3).each do |comment| %>
        <% unless comment.id.nil? %>
        <tr>
        <% if comment.user.user_image? %>
          <td><%= image_tag comment.user.user_image.url, class: "rounded-circle", size: "100x100"%></td>
        <% else %>
          <td><img src="/assets/no_image.jpg" class="rounded-circle" alt="Card image cap" width="100" height="100"></td>
        <% end %>
          <td><%= link_to user_path(comment.user.id) do %>
                   <%= comment.user.name %>
              <% end %>
          </td>
          <td><%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
          <td><%= comment.content %></td>
          <% if comment.user == current_user %>
            <td><%= link_to post_comment_path(comment.post_id, comment.id), method: :delete, remote: true, class: "comment_destroy" do %>
              <i class="fas fa-trash" style="color: black;"></i>
            </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
<a data-toggle="collapse" href="#example1" aria-expanded="false" aria-controls="example1">もっと見る</a>
<div class="collapse" id="example1">
  <div class="row">
      <table class="table">
        <% comments.offset(3).each do |comment| %>
          <% unless comment.id.nil? %>
            <tr>
              <% if comment.user.user_image? %>
                <td><%= image_tag comment.user.user_image.url, class: "rounded-circle", size: "100x100"%></td>
              <% else %>
                <td><img src="/assets/no_image.jpg" class="rounded-circle" alt="Card image cap" width="100" height="100"></td>
              <% end %>
              <td><%= "#{comment.user.name}" %></td>
              <td><%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
              <td><%= comment.content %></td>
              <% if comment.user == current_user %>
                <td><%= link_to post_comment_path(comment.post_id, comment.id), method: :delete, remote: true, class: "comment_destroy" do %>
                  <i class="fas fa-trash" style="color: black;"></i>
                </td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </table>
  </div>
</div>
