<h1 class="headline">新着投稿</h1>

  <section class="text-center">
    <div class="container">
      <h2 class="jumbotron-heading">新着一覧</h2>
      <p class="lead text-muted">こちらでは皆様の旅の記録一覧を紹介しております。<br>ぜひご覧になってください。また投稿するには会員登録で必要になります。<br>旅の共有を行なっておすすめスポットをシェアしていきましょう。</p>
      <p>
        <% if user_signed_in? %>
          <%= link_to '旅の投稿', new_post_path, class: "btn btn-secondary my-2" %>
        <% else %>
          <%= link_to '会員登録', new_user_registration_path, class: "btn btn-primary my-2" %>
        <% end %>
      </p>
    </div>
  </section>
<div class="container">
  <div class="row">
      <% @posts.each do |post| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <% if post.image? %>
              <%= image_tag post.image.url, class: "card-img-top", size: "287x225"%>
            <% else %>
              <img src="/assets/default.png" class="card-img-top" alt="Card image cap" width="287" height="225">
            <% end %>
            <div class="card-body">
              <p class="card-text">
                <strong>タイトル：<%= post.title %></strong><br>
                <strong>地域　　：</strong><%= post.place %><br>
                <strong>予算　　：</strong><%= post.budget %>
              </p>
              <div class="d-flex justify-content">
                <div id="likes_buttons_<%= post.id %>">
                  <%= render partial: 'likes/like', locals: { post: post} %>
                </div>
                <div class="btn-position">
                  <%= link_to "詳細", post_path(post), class: "btn btn-sm btn-outline-secondary" %>
                </div>
                <small class="text-muted">投稿日時：<%= post.created_at.strftime('%Y/%m/%d') %></small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>