



<div id="map"></div>
<p>
  <strong>Address:</strong>
  <%= @post.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @post.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @post.longitude %>
  <%= @post.title %>
  <%= @post.budget %>
  <%= @post.place %>
  <%= @post.impressions %>
  <%= image_tag @post.image.url %>
</p>

